<template>
    <div class="a">
        <b-input/>
        <p v-for="item in catFacts" :key="item._id">
            {{item.text}}
        </p>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: "test",
        title () {
            return 'hi';
        },
        computed: {
            catFacts() {
                return this.$store.state.catFacts;
            }
        },

        asyncData ({ store }) {
            return store.dispatch('FETCH_CAT_FACTS')
        },
    }
</script>

<style lang="scss" scoped>
    .a {
        p {
            font-size: 32px;
        }
    }
</style>
